/* 
    Document   : style
    Created on : 2010-11-04, 21:17:12
    Author     : lukasz
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

